.header{
    &__button--contact{
        width: 200px;
    }
}
@media screen and (max-width:1000px) {
    .header{
        &__button--contact{
            width: 370px;           
        }
    }
}

.contact{
    &__button--send{
        width: 200px;
        
    }
}
@media screen and (max-width:1000px) {
    .contact{
        &__button--send{
            width: 350px;    
                 
        }
    }
}